@model App.Web.Areas.Admin.ViewModels.Account.UpdateUserViewModel
@using System.Security.Claims
@using App.Web.WebConfig.Consts
@{
	ViewData["Title"] = "Tài khoản của tôi";
}

<div class="profile-foreground position-relative mx-n4 mt-n4">
	<div class="profile-wid-bg">
		<img src="~/adminLTE/images/profile-bg.jpg" alt="" class="profile-wid-img" />
	</div>
</div>
<div class="pt-4 mb-4 mb-lg-3 pb-lg-4">
	<div class="row g-4">
		<div class="col-auto">
			<div class="avatar-lg">
				<img src="@Model.Avatar" alt="user-img" class="img-thumbnail rounded-circle" />
			</div>
		</div>
		<div class="col">
			<div class="p-2">
				<h3 class="text-white mb-1">@Model.FullName</h3>
				<p class="text-white-75">@Model.RoleName</p>
				<div class="hstack text-white-50 gap-1">
					<div class="me-2"><i class="ri-map-pin-user-line me-1 text-white-75 fs-16 align-middle"></i>@Model.Address</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div>
			<div class="d-flex">
				<!-- Nav tabs -->
				<ul class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1" role="tablist">
					<li class="nav-item">
						<a class="nav-link fs-14 active" data-bs-toggle="tab" href="#overview-tab" role="tab">
							<i class="ri-airplay-fill d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Tổng quan</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-14" data-bs-toggle="tab" href="#payroll" role="tab">
							<i class="ri-list-unordered d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Bảng lương</span>
						</a>
					</li>
				</ul>
				<div class="flex-shrink-0">
					<a asp-action="SettingProfile" asp-controller="Account" asp-area="Admin" class="btn btn-success"><i class="ri-edit-box-line align-bottom"></i> Edit Profile</a>
				</div>
			</div>
			<!-- Tab panes -->
			<div class="tab-content pt-4 text-muted">
				<div class="tab-pane active" id="overview-tab" role="tabpanel">
					<div class="row">
						<div class="col-xxl-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title mb-3">Thông tin</h5>
									<div class="table-responsive">
										<table class="table table-borderless mb-0">
											<tbody>
												<tr>
													<th class="ps-0" scope="row">Họ tên :</th>
													<td class="text-muted">@Model.FullName</td>
												</tr>
												<tr>
													<th class="ps-0" scope="row">Số điện thoại 1 :</th>
													<td class="text-muted">@Model.PhoneNumber1</td>
												</tr>
												<tr>
													<th class="ps-0" scope="row">Số điện thoại 2 :</th>
													<td class="text-muted">@Model.PhoneNumber2</td>
												</tr>
												<tr>
													<th class="ps-0" scope="row">E-mail :</th>
													<td class="text-muted">@Model.Email</td>
												</tr>
												<tr>
													<th class="ps-0" scope="row">Địa chỉ :</th>
													<td class="text-muted">@Model.Address</td>
												</tr>
												<tr>
													<th class="ps-0" scope="row">Chức vụ :</th>
													<td class="text-muted">@Model.RoleName</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xxl-9">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title mb-3">Lịch làm</h5>
									<div class="col-xl-9">
										<div class="card card-h-100">
											<div class="card-body">
												<div id="calendar"></div>
											</div>
										</div>
									</div><!-- end col -->
									<!--end row-->
								</div>
								<!--end card-body-->
							</div><!-- end card -->
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="payroll" role="tabpanel">
					<div class="card">
						<div class="card-body">
							<div class="acitivity-timeline d-flex">
								<div class="mb-0 col-xxl-3">
									<h5 class="mt-3 mb-3 text-center">Bảng lương theo tháng</h5>

									<div class="mb-3">
										<h6 class="ps-3">
											Họ tên:
											<span class="text-muted">@Model.FullName</span>
										</h6>

									</div>
									<div class="mb-3">
										<h6 class="ps-3">
											Chức vụ:
											<span class="text-muted">@Model.RoleName</span>
										</h6>
									</div>
									<div class="mb-3">
										<h6 class="ps-3">
											Lương cơ bản:	
											<span class="text-muted"></span>

										</h6>
									</div>
									<div class="mb-3">
										<h6 class="ps-3">
											Số ca làm việc:
											<span class="text-muted"></span>
										</h6>
									</div>
									<div class="mb-3">
										<h6 class="ps-3">
											Tổng số giờ làm việc:
											<span class="text-muted"></span>
										</h6>
									</div>
									<div class="mb-3">
										<h6 class="ps-3">
											Tổng lương:
											<span class="text-muted"></span>
										</h6>
									</div>
								</div>
								<div class="col-xxl-9">
									<div>
										<select id="timeframe" onchange="updateChart()">
											<option value="month" selected>By Month</option>
											<option value="year">By Year</option>
										</select>
									</div>
									<div>
										<div id="market-overview" data-colors='["--vz-success", "--vz-warning"]' class="apex-charts mt-n4"></div>
									</div>
									<h5 class="mt-3 mb-3 text-center">Bảng thống kê lịch làm</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Css {
	<link href="~/adminlte/libs/fullcalendar/main.min.css" rel="stylesheet" />
	<link href="~/adminlte/css/custom.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/adminlte/libs/fullcalendar/main.min.js"></script>
	<script src="~/js/Admin/calendar.config.js"></script>
	<script src="~/adminlte/libs/apexcharts/apexcharts.min.js"></script>

	<script src="~/adminlte/js/pages/dashboard-nft.init.js"></script>
}