@using Microsoft.IdentityModel.Tokens
@model IEnumerable<App.Web.Areas.Admin.ViewModels.Room.RoomListItemVM>
@{
	ViewData["Title"] = "Danh sách phòng";
}

<div class="row">
	<div class="col-12">
		<div class="page-title-box d-sm-flex align-items-center justify-content-between">
			<h4 class="mb-sm-0">Quản lý phòng</h4>

			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a asp-action="Index" asp-area="Admin" asp-controller="Home">Bảng tổng quan</a></li>
					<li class="breadcrumb-item active">Danh sách phòng</li>
				</ol>
			</div>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title mb-0">Danh sách phòng</h4>
			</div><!-- end card header -->

			<div class="card-body">
				<div id="customerList">
					<div class="row g-4 mb-3">
						<div class="col-sm-auto">
							<div>
								@if (User.IsInPermission(AuthConst.AppRoom.CREATE))
								{
									<a asp-action="CreateRoom" class="btn btn-success btn-label add-btn">
										<i class="ri-add-line label-icon align-middle fs-16 me-2"></i>
										Thêm phòng
									</a>
								}
							</div>
						</div>

						<div class="col-sm">
							<div class="d-flex justify-content-sm-end">
								<form class="form-horizontal d-flex" method="get" action="@Url.Action("Index", "AppRoom", new { area = "Admin" })">
									<div class="search-box ms-2">
										<input type="text" class="form-control search" name="Name" value="@ViewBag.Name" placeholder="Tìm theo tên...">
										<i class="ri-search-line search-icon"></i>
									</div>
									<button type="submit" class="btn btn-soft-dark waves-effect waves-light ms-3">Tìm kiếm</button>
								</form>
							</div>
						</div>
					</div>

					<div class="table-responsive mt-3 mb-1">
						<table class="table align-middle" id="branchRoomTable">
							<thead class="table-light">
								<tr class="text-center">
									<th>#</th>
									<th>Img</th>
									<th>Tên phòng</th>
									<th>Trang thiết bị</th>
									<th>Chi nhánh</th>
									<th>Giá</th>
									<th>Giảm giá</th>
									<th>Trạng thái</th>
									<th>Chức năng</th>
								</tr>
							</thead>
							<tbody class="list form-check-all">
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.RowIndex</td>
										<td class="id" style="display:none;">
											<a class="fw-medium link-primary">@item.Id</a>
										</td>
										<td>
											@if (item.ImagePath != null)
											{
												var imgSrc = item.ImagePath.StartsWith("https", StringComparison.OrdinalIgnoreCase) ? item.ImagePath : "/" + item.ImagePath;
												<img src="@imgSrc" width="250px" height="100px" style="object-fit:cover" />
											}
											else
											{
												<span>Hiện không có ảnh</span>
											}
										</td>
										<td class="Room_name">
											@if (item.IsActive)
											{
												<i class="fas fa-globe text-secondary"></i>
											}
											else
											{
												<i class="fas fa-lock text-warning"></i>
											}

											@if (item.DisplayOrder != null)
											{
												<span title="Đã ghim" class="ml-1 text-secondary small" style="cursor: default;">
													<i class="ri-pushpin-2-fill"></i>
												</span>
											}
											<span style="cursor: default;">@item.RoomName</span>

											<environment names="Development">
												<small class="text-secondary" style="cursor: default; font-size: x-small">(id @item.Id)</small>
											</environment>
											<a class="text-secondary ml-1" target="_blank" asp-controller="Room" asp-action="Detail" asp-route-slug="@item.Slug" asp-route-productId="@item.Id"><i class="fas fa-external-link-alt text-secondary"></i></a>
											<div>
												@if (!item.Slug.IsNullOrEmpty())
												{
													<spam class="badge badge-soft-success badge-border" style="cursor: default;">
														@item.Slug
													</spam>

													<div>
														<span class="badge badge-soft-primary badge-border" style="cursor: default;">
															Tầng @item.FloorNumber • Phòng @item.RoomNumber • Loại @item.RoomTypeName
														</span>
													</div>
												}
											</div>
										</td>
										<td class="roomEquipmentName fit">
											@if (item.EquipmentName.IsNullOrEmpty())
											{
												<div class="badge rounded-pill badge-soft-secondary" style="cursor: default;">Không có trang thiết bị</div>
											}
											else
											{
												@foreach (var equipment in item.EquipmentName)
												{
													<p class="badge rounded-pill badge-soft-secondary ms-2" style="cursor: default;">
														@equipment
													</p>
												}
											}
										</td>
										<td class="branchRoomName fit">
											@if (!item.BranchName.IsNullOrEmpty())
											{
												<p class="badge badge-soft-info" style="cursor: default;">
													@item.BranchName
												</p>
											}
										</td>
										<td class="price fit">@item.Price.ToString("#,0 VNĐ")</td>
										<td class="discountPrice">
											@if (item.IsDiscountProduct)
											{
												<div>
													<span class="small text-secondary" style="text-decoration: line-through;">@item.Price.ToString("#,0 VNĐ")</span>

													<span>👉 @item.DiscountPrice?.ToString("#,0 VNĐ")</span>
												</div>

												<span class="badge badge-soft-primary" style="cursor: default;">
													@item.DiscountFrom?.ToString("dd/MM/yyyy") ➡️ @item.DiscountTo?.ToString("dd/MM/yyyy")
												</span>
											}
											else
											{
												<span>Không có giảm giá</span>
											}
										</td>
										<td>
											@if (item.Status == DB.RoomStatus.STATUS_CHECKIN_NAME)
											{
												<span class="badge badge-soft-warning" style="cursor: default;">
													@item.Status
												</span>
											}
											else if (item.Status == DB.RoomStatus.STATUS_CHECKOUT_NAME
											|| item.Status == DB.RoomStatus.STATUS_CANCELED_NAME)
											{
												<span class="badge badge-soft-success" style="cursor: default;">
													@item.Status
												</span>
											}
											else if (item.Status == DB.RoomStatus.STATUS_PENDING_NAME
											|| item.Status == DB.RoomStatus.STATUS_PROCESSING_NAME)
											{
												<span class="badge badge-soft-secondary" style="cursor: default;">
													@item.Status
												</span>
											}
											else
											{
												<span class="badge badge-soft-info" style="cursor: default;">
													@item.Status
												</span>
											}
										</td>
										<td>
											<div class="d-flex gap-2">
												@if (item.IsActive)
												{
													if (User.IsInPermission(AuthConst.AppRoom.UNPUBLIC))
													{
														<a asp-action="UnPublicRoom" asp-route-id="@item.Id"
														   title="Không công khai phòng"
														   class="btn btn-sm edit-item-btn link-warning fs-15 js-delete-confirm"
														   data-msg="Xác nhận ẩn phòng ⌈ @item.RoomName ⌋ khỏi hệ thống?">
															<i class="fas fa-lock"></i>
														</a>
													}
												}
												else
												{
													if (User.IsInPermission(AuthConst.AppRoom.PUBLIC))
													{
														<a asp-action="PublicRoom" asp-route-id="@item.Id"
														   title="Công khai phòng"
														   class="btn btn-sm edit-item-btn link-secondary fs-15 js-delete-confirm"
														   data-msg="Xác nhận công khai phòng ⌈ @item.RoomName ⌋ ?">
															<i class="fas fa-globe"></i>
														</a>
													}
												}
												@if (User.IsInPermission(AuthConst.AppRoom.UPDATE))
												{
													if (ViewBag.BranchId is null)
													{
														<div class="pin">
															@if (item.DisplayOrder == null)
															{
																<a title="Ghim phòng lên đầu danh sách" asp-action="RoomPin" asp-route-id="@item.Id"
																   class="btn btn-sm edit-item-btn link-secondary fs-15"><i class="fas fa-arrow-alt-circle-up"></i></a>
															}
															else
															{
																<a title="Bỏ ghim phòng" asp-action="RoomUnPin" asp-route-id="@item.Id"
																   class="btn btn-sm edit-item-btn link-secondary fs-15"><i class="fas fa-arrow-alt-circle-down"></i></a>
															}
														</div>
													}

													@* <div class="edit">
														<a asp-action="EditRoom" asp-route-id="@item.Id"
														   class="btn btn-sm edit-item-btn link-success fs-15">
															<i class="ri-edit-2-line"></i>
														</a>
													</div> *@
												}
												@if (User.IsInPermission(AuthConst.AppRoom.DELETE))
												{
													<div class="remove">
														<button class="btn btn-sm remove-item-btn link-danger fs-15"
																data-bs-toggle="modal"
																data-bs-target="#deleteRoomModal"
																onclick="setDeleteId('@item.Id')">
															<i class="ri-delete-bin-line"></i>
														</button>
													</div>
												}
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					@if (ViewBag.NoResultsFound != null && ViewBag.NoResultsFound && ViewBag.BranchId is null)
					{
						<div class="noresult">
							<div class="text-center">
								<lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
								</lord-icon>
								<h5 class="mt-2">Xin lỗi! Không tìm thấy kết quả</h5>
								<p class="text-muted mb-0">
									Chúng tôi đã tìm kiếm tất cả dữ liệu. Chúng tôi không tìm thấy bất kỳ dữ liệu nào bạn tìm kiếm.
								</p>
							</div>
						</div>
					}
					<div class="d-flex justify-content-end">
						<div class="pagination-wrap hstack gap-2">
							<partial name="_Pager" />
						</div>
					</div>
				</div>
			</div><!-- end card -->
		</div>
		<!-- end col -->
	</div>
	<!-- end col -->
</div>
<!-- end row -->

<partial name="_DeleteRoomModal" model="null" />

@section Scripts {
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

	<script>
		function setDeleteId(id) {
			const deleteConfirmBtn = document.getElementById('deleteConfirmBtn');
			deleteConfirmBtn.href = `/Admin/AppRoom/Delete/${id}`;
		}
	</script>
}