@using Microsoft.IdentityModel.Tokens
@model IEnumerable<App.Web.Areas.Admin.ViewModels.Hotel.HotelListItemVM>
@{
	ViewData["Title"] = "Danh sách khách sạn";
}

<div class="row">
	<div class="col-12">
		<div class="page-title-box d-sm-flex align-items-center justify-content-between">
			<h4 class="mb-sm-0">Quản lý khách sạn</h4>

			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a asp-action="Index" asp-area="Admin" asp-controller="Home">Bảng tổng quan</a></li>
					<li class="breadcrumb-item active">Khách sạn</li>
				</ol>
			</div>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title mb-0">Khách sạn</h4>
			</div><!-- end card header -->

			<div class="card-body">
				<div id="customerList">
					<div class="row g-4 mb-3">
						<div class="col-sm-auto">
							<div>
								@if (User.IsInPermission(AuthConst.AppHotel.CREATE))
								{
									if (ViewBag.BranchId is null)
									{
										<a asp-action="CreateHotel" class="btn btn-success btn-label add-btn">
											<i class="ri-add-line label-icon align-middle fs-16 me-2"></i>
											Thêm khách sạn
										</a>
									}
								}
							</div>
						</div>

						@if (ViewBag.BranchId is null)
						{
							<div class="col-sm">
								<div class="d-flex justify-content-sm-end">
									<form class="form-horizontal d-flex" method="get" action="@Url.Action("Index", "AppHotel", new { area = "Admin" })">
										<div class="search-box ms-2">
											<input type="text" class="form-control search" name="Name" value="@ViewBag.Name" placeholder="Tìm theo tên...">
											<i class="ri-search-line search-icon"></i>
										</div>
										<button type="submit" class="btn btn-soft-dark waves-effect waves-light ms-3">Tìm kiếm</button>
									</form>
								</div>
							</div>
						}
					</div>

					<div class="table-responsive mt-3 mb-1">
						<table class="table align-middle" id="branchHotelTable">
							<thead class="table-light">
								<tr>
									<th>#</th>
									<th>Img</th>
									<th>Tên khách sạn</th>
									<th>Chi nhánh</th>
									<th>Mô tả</th>
									<th>SĐT 1</th>
									<th>Email</th>
									<th>Chức năng</th>
								</tr>
							</thead>
							<tbody class="list form-check-all">
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.RowIndex</td>
										<td class="id" style="display:none;">
											<a class="fw-medium link-primary">@item.Id</a>
										</td>
										<td>
											@{
												if (item.ImgBanner != null)
												{
													var imgSrc = item.ImgBanner.StartsWith("https", StringComparison.OrdinalIgnoreCase) ? item.ImgBanner : "/" + item.ImgBanner;
													<img src="@imgSrc" width="250px" height="100px" style="object-fit:cover" />
												}
												else
												{
													<span>Hiện không có ảnh</span>
												}
											}
										</td>
										<td class="hotel_name">
											@if (item.IsActive)
											{
												<i class="fas fa-globe text-secondary"></i>
											}
											else
											{
												<i class="fas fa-lock text-warning"></i>
											}

											@if (item.DisplayOrder != null)
											{
												<span title="Đã ghim" class="ml-1 text-secondary small" style="cursor: default;">
													<i class="ri-pushpin-2-fill"></i>
												</span>
											}
											<span style="cursor: default;">@item.Name</span>

											<environment names="Development">
												<small class="text-secondary" style="cursor: default; font-size: x-small">(id @item.Id)</small>
											</environment>

											<div>
												@if (!item.Slug.IsNullOrEmpty())
												{
													<span class="badge badge-soft-success badge-border" style="cursor: default;">
														@item.Slug
													</span>
												}
											</div>
										</td>
										<td class="branchHotelName fit">
											@if (item.BranchName.IsNullOrEmpty())
											{
												<div class="badge badge-soft-secondary" style="cursor: default;">Không có chi nhánh</div>
											}
											else
											{
												@foreach (var branch in item.BranchName)
												{
													<p class="badge badge-soft-info" style="cursor: default;">
														@branch
													</p>
												}
											}
										</td>
										<td class="description fit">@item.Description</td>
										<td class="phone">
											<span class="badge badge-soft-primary" style="cursor: default;">
												@item.PhoneNumber1
											</span>
											@if (!item.PhoneNumber2.IsNullOrEmpty())
											{
												<span class="badge badge-soft-primary" style="cursor: default;">
													@item.PhoneNumber2
												</span>
											}
										</td>
										<td class="email">@item.Email</td>
										<td>
											<div class="d-flex gap-2">
												@if (ViewBag.BranchId is null)
												{
													if (item.IsActive)
													{
														if (User.IsInPermission(AuthConst.AppHotel.UNPUBLIC))
														{
															<a asp-action="UnPublicHotel" asp-route-id="@item.Id"
															   title="Không công khai khách sạn"
															   class="btn btn-sm edit-item-btn link-warning fs-15 js-delete-confirm"
															   data-msg="Xác nhận ẩn khách sạn ⌈ @item.Name ⌋ khỏi hệ thống?">
																<i class="fas fa-lock"></i>
															</a>
														}
													}
													else
													{
														if (User.IsInPermission(AuthConst.AppHotel.PUBLIC))
														{
															<a asp-action="PublicHotel" asp-route-id="@item.Id"
															   title="Công khai khách sạn"
															   class="btn btn-sm edit-item-btn link-secondary fs-15 js-delete-confirm"
															   data-msg="Xác nhận công khai khách sạn ⌈ @item.Name ⌋ ?">
																<i class="fas fa-globe"></i>
															</a>
														}
													}
												}
												@if (User.IsInPermission(AuthConst.AppHotel.UPDATE))
												{
													if (ViewBag.BranchId is null)
													{
														<div class="pin">
															@if (item.DisplayOrder == null)
															{
																<a title="Ghim khách sạn lên đầu danh sách" asp-action="HotelPin" asp-route-id="@item.Id"
																   class="btn btn-sm edit-item-btn link-secondary fs-15"><i class="fas fa-arrow-alt-circle-up"></i></a>
															}
															else
															{
																<a title="Bỏ ghim khách sạn" asp-action="HotelUnPin" asp-route-id="@item.Id"
																   class="btn btn-sm edit-item-btn link-secondary fs-15"><i class="fas fa-arrow-alt-circle-down"></i></a>
															}
														</div>

														<div class="edit">
															<a asp-action="EditHotel" asp-route-id="@item.Id"
															   class="btn btn-sm edit-item-btn link-success fs-15">
																<i class="ri-edit-2-line"></i>
															</a>
														</div>
													}
												}

												@if (ViewBag.BranchId is null)
												{
													if (User.IsInPermission(AuthConst.AppHotel.DELETE))
													{
														<div class="remove">
															<button class="btn btn-sm remove-item-btn link-danger fs-15"
																	data-bs-toggle="modal"
																	data-bs-target="#deleteHotelModal"
																	onclick="setDeleteId('@item.Id', '@ViewBag.BranchCounts[item.Id]')">
																<i class="ri-delete-bin-line"></i>
															</button>
														</div>
													}
												}
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					@if (ViewBag.NoResultsFound != null && ViewBag.NoResultsFound && ViewBag.BranchId is null)
					{
						<div class="noresult">
							<div class="text-center">
								<lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
								</lord-icon>
								<h5 class="mt-2">Xin lỗi! Không tìm thấy kết quả</h5>
								<p class="text-muted mb-0">
									Chúng tôi đã tìm kiếm tất cả dữ liệu. Chúng tôi không tìm thấy bất kỳ dữ liệu nào bạn tìm kiếm.
								</p>
							</div>
						</div>
					}
					<div class="d-flex justify-content-end">
						<div class="pagination-wrap hstack gap-2">
							<partial name="_Pager" />
						</div>
					</div>
				</div>
			</div><!-- end card -->
		</div>
		<!-- end col -->
	</div>
	<!-- end col -->
</div>
<!-- end row -->

<partial name="_DeleteHotelModal" model="null" />

@section Scripts {
	<script>
		function setDeleteId(id, branchCount) {
			const deleteConfirmBtn = document.getElementById('deleteConfirmBtn');
			deleteConfirmBtn.href = `/Admin/AppHotel/Delete/${id}`;
			document.getElementById('branchCount').innerText = branchCount;
		}
	</script>
}