@model App.Web.ViewModels.Account.ChangePwdVM
<form asp-action="ChangePassword" asp-controller="Account" method="post">
	<div class="mb-3">
		<label asp-for="@Model.Pwd"
			   class="form-label"
			   for="old-password-input">
			Nhập lại mật khẩu cũ
		</label>
		<div class="position-relative auth-pass-inputgroup">
			<input asp-for="@Model.Pwd"
				   id="old-password-input"
				   type="password"
				   class="form-control pe-5 password-input"
				   onpaste="return false"
				   placeholder="Nhập lại mật khẩu cũ" required>
			<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" style="right:0" type="button" id="old-password-input">
				<i class="ri-eye-fill align-middle"></i>
			</button>
		</div>
		<div>
			<span asp-validation-for="@Model.Pwd" data-valmsg-replace=true class="text-danger"></span>
		</div>
	</div>

	<div class="mb-3">
		<label asp-for="@Model.NewPwd"
			   class="form-label"
			   for="new-password-input">
			Mật khẩu mới
		</label>
		<div class="position-relative auth-pass-inputgroup">
			<input asp-for="@Model.NewPwd"
				   id="new-password-input"
				   type="password"
				   class="form-control pe-5 password-input"
				   onpaste="return false"
				   placeholder="Mật khẩu mới" required>
			<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" style="right:0" type="button" id="new-password-input">
				<i class="ri-eye-fill align-middle"></i>
			</button>
		</div>
		<div>
			<span asp-validation-for="@Model.NewPwd" data-valmsg-replace=true class="text-danger"></span>
		</div>
	</div>

	<div id="password-contain" class="p-3 bg-light mb-2 rounded">
		<h5 class="fs-14">Mật khẩu phải:</h5>
		<p id="pass-length" class="invalid fs-13 mb-2">Tối thiểu <b>4 ký tự (hoặc số)</b></p>
	</div>

	<div class="mb-3">
		<label asp-for="@Model.ConfirmPassword"
			   class="form-label"
			   for="confirm-password-input">
			Xác nhận lại mật khẩu
		</label>

		<div class="position-relative auth-pass-inputgroup mb-3">
			<input asp-for="@Model.ConfirmPassword"
				   id="confirm-password-input"
				   type="password"
				   class="form-control pe-5 password-input"
				   onpaste="return false"
				   placeholder="Xác nhận mật khẩu" required>
			<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" style="right:0" type="button" id="confirm-password-input">
				<i class="ri-eye-fill align-middle"></i>
			</button>
		</div>
		<div>
			<span asp-validation-for="@Model.ConfirmPassword" data-valmsg-replace=true class="text-danger"></span>
		</div>
	</div>

	<div class=" justify-content-start gap-3 mt-3">
		<button type="submit" class="btn btn-primary">Cập nhật</button>
		<button type="reset" class="btn btn-secondary me-2">Reset</button>
	</div>
</form>